{% extends "base.html" %}
{% import 'form_macros.html' as fm %}

{% block app_content %}
    <h1>Register</h1>


    <div class="row">
        <div class="col-md-4">
        <form class="form form-horizontal" method="post">
            {{ form.hidden_tag() }}

            {{ fm.input(form.username) }}
            {{ fm.input(form.email) }}
            {{ fm.input(form.password) }}
            {{ fm.input(form.password2) }}

            {{ form.submit(class="btn btn-primary") }}
        </form>
        </div>
    </div>
{% endblock %}