{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<a href={{ url_for('wine.index') }}>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-danger">

        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Wines</h1>
          </div>
</div>
</a>

<a href=#>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Recipes</h1>
    </div>
</div>
</a>


{% endblock %}